<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Packages</h1>
<table>
    <thead>
        <th>id</th>
        <th>Sender</th>
        <th>Recipient</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Location</th>
    </thead>
    <tbody>
        {% for package in packages %}
            <tr>
                <td>{{ package.id }}</td>
                <td>{{ package.sender }}</td>
                <td>{{ package.recipient }}</td>
                <td>{{ package.origin }}</td>
                <td>{{ package.destination }}</td>
                <td>{{ package.location }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


</body>
</html>
